a {
  text-decoration: none;
  color: #fff;
}
ul{
  list-style-type: none;
}

.body_menu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cat {
  margin-bottom: 30px;
}

.cat h3 {
  font-size: 24px;
  color: #ff6600;
  margin-bottom: 10px;
}

.plat-nom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.image-plat img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.image-plat h4 {
  font-size: 18px;
  color: #333; 
  margin-bottom: 5px;
}

.prix {
  font-size: 16px;
  color: #45220c; 
}


.etiquette {
  display: inline;
  background-color: #c98b54; 
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.cat{
  padding-bottom: 80px;
}
.plats {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
.plat-nom {
  display:table-caption;
  padding: 15px;
}
.plats img{
    width: 150px;
    height: auto;
}

.plats h4 {
    display: inline;
}

 .invalid-feedback {
    color: red;
 }

 body {
   background-color: bisque;
  }

  .body_menu {
    margin: 20px;
  }

header {
  background-color: #fff; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px; 
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
}

.ul_navbar {
  list-style: none;
  display: flex;
}


.li_navbar {
  margin-right: 20px; 
  font-family: Arial,Helvetica,sans-serif;
}
.a_navbar:hover {
  color: #c98b54; 
}
.home_title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    font-family: raleway, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
  
}

  .navbar a {
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  
  }
  
img {
    width: 50%;
    height: auto;
    margin-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.cours {
  width: 30%;
  height: auto; 
  margin-right: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }



.category {
  margin-bottom: 20px;
}

.item {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.cart {
  width: 10%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: #c98b54;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-items li {
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
}

.actu p{
  padding: 0 20px;
  font-family: oswald-medium,oswald,sans-serif;
  font-size: 20px;
}
.actu {
  padding-bottom: 30px;
}
/* reservation */
.container {
  width: 50%;
  margin: 50px auto;
  background-color: #c98b54;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

.submit {
  background-color: bisque;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(103, 84, 61);
}

.mes {
text-align: center;
font-size: x-small;
padding: 0 40px;
font-size: 20px;
}

h2 {
  text-align: center;
}

.language {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 200px; 
  height: 15px;
}

.image-plat {
  display: inline-block;
  margin: 0 10px;
}

.etiquette {
  display: list-item;
  position: relative;
  left: 30px;
}
.etiquette::marker {
  margin-left: 15px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  
  
  .carousel {
    max-width: 1650px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap; 
    position: relative;
    padding-bottom: 30px;
  }
.carousel_items {
    display: flex; 
    animation: carousel 5s infinite linear;
    
}

.carousel_img {
    display: block;
    width: 1040px;
    height: 600px; 
    object-fit: cover;
}

@keyframes carousel {
  0% {
      transform: translate(0); 
  }
  100% {
      transform: translate(-100%); 
  }
}
 input, select {
  width: 150px;
 }
 
 /* GOOGLE */
 #google_translate_element {
   position: fixed;
   bottom: 10px; 
   right: 10px; 
  }

footer {
  background-color: black;
  color: white;
  padding: 20px;
}

.footcontain {
  display: flex;
  justify-content: space-between;
}

.footcontain > div {
  flex: 1;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footcontain a {
  color: white;
  text-decoration: none;
}

.footcontain button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 100px;
}
 button:hover {
  border: solid bisque;
  color: bisque;
}

.mention_container p {
  text-align: center;
}
.mention_container h2 {
  padding-bottom: 20px;
}
.mention_page {
  background-color: #000; /* Remplacez par la couleur de fond souhaitée (par exemple, noir ici) */
  color: #fff; /* Couleur du texte en blanc */
  padding: 20px; /* Ajoutez un espacement intérieur si nécessaire */
  display: flex;
}
.mention_page div {
  position: relative;
  left: 200px;
  padding-right: 80px;
  padding-bottom: 50px;
}
.hm {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 50px;
}

.pay{
  display: flex;
}
.photocours {
  width: 100%; 
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.photocours img {
  width: 100%;
  height: auto;
}

.contact {
  max-width: 1000px; 
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
}

.carte {
  float: right;
  margin-left: 100px; 
  width: 500px; 
  height: 400px;
}

.contact p {
  margin-bottom: 10px;
}
.contact a {
  color: #ff6600; 
  text-decoration: none;
  font-weight: bold;
}

.contact a:hover {
  text-decoration: underline; 
}

.contact p:last-child {
  margin-bottom: 0; 
}

.photocours {
  position: relative;
  text-align: center;
}

.photocours img {
  width: 100%;
  height: auto;
}

.photocours h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white; /* Changez la couleur du texte selon votre préférence */
}

/* Style pour la boîte de cours */
.coursbox {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}