/* .contenu {
  max-width: 100%;
} */
.plats {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
.plat-nom {
  display:table-caption;
  padding: 15px;
}
.plats img{
    width: 150px;
    height: auto;
}

.plats h4 {
    display: inline;
}
/* body {
    background: linear-gradient(to bottom right, rgb(243, 243, 243), rgb(255, 200, 50), rgb(198, 50, 50));
 } */
 .invalid-feedback {
    color: red;
 }

 .logo{
    width: 100px; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Pour maintenir les proportions de l'image */
    margin-right: 10px; /* Ajoutez une marge à droite de l'image */
}

body {
    background-color: bisque;
    max-width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
}


.navbar {
    text-align: center;
    background-color: #c98b54;
  }
 
  
  .ul_navbar {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #dea254;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #dea200;
  }


img {
    width: 50%; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Pour maintenir les proportions de l'image */
    margin-right: 10px; /* Ajoutez une marge à droite de l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.cours {
  width: 30%; /* Ajustez la largeur de l'image selon vos besoins */
  height: auto; /* Pour maintenir les proportions de l'image */
  margin-right: 10px; /* Ajoutez une marge à droite de l'image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

/*Ce que j'ai r'ajouté*/
.menu {
  width: 70%;
  padding: 20px;
}

.category {
  margin-bottom: 20px;
}

.item {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.cart {
  width: 10%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: #c98b54;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-items li {
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
}

/* reservation */
.container {
  width: 50%;
  margin: 50px auto;
  background-color: #c98b54;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #c98b54;
  border-radius: 4px;
  box-sizing: border-box;
  position: initial;
  margin-bottom: 50px; /* Pour donner de l'espace au texte en dessous */

}

button {
  background-color: bisque;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(103, 84, 61);
}

.mes {
text-align: center;
font-size: x-small;
padding: 0 40px; 
}

h2 {
  text-align: center;
}

.language {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 200px; 
  height: 15px;
}

/* image des plats */
.image-plat {
  display: inline-block;
  margin: 0 10px;
}

.etiquette {
  display: list-item;
}
/* ........................... */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  
  
  .carousel {
    max-width: 1650px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap; /* Empêche le débordement sur une nouvelle ligne */
}

.carousel_items {
    display: flex; /* Utilisez display: inline-block pour empêcher le saut à la ligne */
    animation: carousel 5s infinite linear;
}

.carousel_img {
    display: block;
    width: 640px;
    height: auto; /* Assurez-vous que la hauteur est ajustée automatiquement en fonction de la largeur */
    object-fit: cover;
}

@keyframes carousel {
  0% {
      transform: translate(0); /* Début de la rotation */
  }
  100% {
      transform: translate(-70%); /* Fin de la rotation, revient à 0deg */
  }
}
